body{
    background:radial-gradient(red,yellow,blue,white);

}
.item{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:rgb(21, 255, 0);
}
#result_object_name
#result_object_accuracy{ color: yellow;
font-size: larger;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.heading { width: 80%; font-size: 42px; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
button{
    margin: 10px;
    width: max-content;
}